
input::-webkit-input-placeholder { opacity: 0.4}
input:-moz-placeholder { opacity: 0.4 } /* FF 4-18 */
input::-moz-placeholder { opacity: 0.4 } /* FF 19+ */
input:-ms-input-placeholder { opacity: 0.4 } /* IE 10+ */

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */